@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

@import 'bootstrap-italia/src/scss/base/utilities';

@import 'bootstrap-italia/src/scss/utilities/icons';

$utilities: (
  'align': map-merge(
      map-get($utilities, 'align'),
      (
        values: top middle bottom,
      )
    ),
  'background-color': map-get($utilities, 'background-color'),
);

@import 'bootstrap-italia/src/scss/base/utilities/api';

:host {
  display: inline-block;
}

:host([align='top']) {
  vertical-align: top;
}

:host([align='middle']),
:host(:not([align])) {
  vertical-align: middle;
}

:host([align='bottom']) {
  vertical-align: bottom;
}

.icon-white {
  fill: #fff !important;
  // Alcune icone bsi hanno attr di path fissati come fill:black, per ora patchiamo qui
  path {
    fill: #fff !important;
  }
}
