it-avatar {
  // @extend .avatar;
  position: relative;
  z-index: 1;
  display: inline-flex;
  width: var(--#{$prefix}avatar-size);
  height: var(--#{$prefix}avatar-size);
  align-items: center;
  justify-content: center;
  border-radius: var(--#{$prefix}avatar-radius);
  background: var(--#{$prefix}avatar-background);
  color: var(--#{$prefix}avatar-text-color);
  transition: background-color var(--#{$prefix}transition-instant);

  // Stili automatici per slot presenza e status
  slot[name='presence'] {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
  }

  slot[name='status'] {
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -5px;
  }

  // Se l'utente non usa slot, usa il wrapper con le classi CSS
  .avatar-presence {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
  }

  .avatar-status {
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -5px;
  }
}

// Varianti di dimensione (solo le dimensioni, nient'altro)
it-avatar[size='xs'] {
  --#{$prefix}avatar-size: 1rem;
}

it-avatar[size='sm'] {
  --#{$prefix}avatar-size: 1.5rem;
}

it-avatar[size='md'],
it-avatar:not([size]) {
  --#{$prefix}avatar-size: 2.5rem;
}

it-avatar[size='lg'] {
  --#{$prefix}avatar-size: 3.5rem;
}

it-avatar[size='xl'] {
  --#{$prefix}avatar-size: 5rem;
}

it-avatar[size='xxl'] {
  --#{$prefix}avatar-size: 7rem;
}

it-avatar ~ span {
  margin-left: var(--#{$prefix}spacing-xxs);
}

// Rimuovi animazione una volta definito il componente
it-avatar:defined {
  animation: none !important;
  background-image: none !important;
}

it-avatar:defined:has([slot='extra-text']) {
  width: auto;
  height: auto;
}

.avatar-group-stacked li > it-avatar {
  margin-left: -6px;
  // border: 2px solid var(--#{$prefix}color-border-inverse);
}

ul.avatar-group-stacked {
  li {
    it-avatar:defined {
      width: auto;
      height: auto;
    }

    & > it-avatar::part(avatar) {
      border: 2px solid var(--#{$prefix}color-border-inverse);

      &:focus {
        width: calc(var(--#{$prefix}avatar-size) - 4px);
        height: calc(var(--#{$prefix}avatar-size) - 4px);
        border: 0;
        border-color: transparent !important;
        margin-left: 2px;
      }
    }
  }
}

ul li {
  it-avatar ~ span {
    margin-left: var(--#{$prefix}spacing-xxs);
  }

  it-avatar:defined {
    width: auto;
    height: auto;
  }
}

it-avatar::part(avatar) {
  box-sizing: border-box;
  // border: 2px solid var(--#{$prefix}color-border-inverse);
}

it-avatar[type='dropdown'] ::part(button) {
  display: flex !important;
  width: calc(var(--#{$prefix}avatar-size) - 4px);
  height: calc(var(--#{$prefix}avatar-size) - 4px);
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  background-color: transparent !important;
  color: var(--#{$prefix}avatar-text-color);
  font-size: var(--#{$prefix}avatar-font-size);
}

it-avatar[type='dropdown'][variant='primary'] ::part(button),
it-avatar[type='dropdown'][variant='secondary'] ::part(button) {
  color: var(--#{$prefix}avatar-text-color);
}

it-avatar[type='dropdown'] ::part(icon) {
  display: none !important;
}

it-avatar:not(:defined)[type='dropdown'] it-dropdown {
  display: none !important;
}

.extra-text {
  margin-left: var(--#{$prefix}spacing-s);

  h3,
  h4 {
    margin: 0;
    font-size: var(--#{$prefix}heading-6-font-size);

    a {
      display: inline-block;
    }
  }

  p,
  time {
    margin: 0;
    color: var(--#{$prefix}color-text-secondary);
    font-size: var(--#{$prefix}caption-font-size);
    text-transform: uppercase;
  }
}

// Specific fallback for it-avatar when component is not defined (JS disabled)
it-avatar:not(:defined):has([slot='extra-text']) {
  position: relative;

  [slot='extra-text'] {
    position: absolute;
    left: calc(var(--#{$prefix}avatar-size) + var(--#{$prefix}spacing-s));
    width: max-content;

    p,
    time {
      margin: 0;
      color: var(--#{$prefix}color-text-secondary);
      font-size: var(--#{$prefix}caption-font-size);
      text-transform: uppercase;
    }

    h3,
    h4 {
      margin: 0;
      font-size: var(--#{$prefix}heading-6-font-size);

      a {
        display: inline-block;
      }
    }
  }
}
