@import 'bootstrap-italia/src/scss/components/accordion';

it-accordion-item {
  display: block;
  width: 100%;

  &:not(:defined) {
    [slot='heading'],
    [slot='content'] {
      padding: 1rem;
      display: block;
    }

    &:not([default-open]) {
      [slot='content'] {
        padding: 0;
        visibility: hidden;
        height: 0;
      }
    }
  }
}

it-accordion it-accordion::part(accordion) {
  border-right: 1px solid var(--bs-accordion-border-color);
  border-left: 1px solid var(--bs-accordion-border-color);
}
