.sidebar-wrapper ul.link-list it-collapse {
  display: block;
  width: 100%;

  &::part(collapse-item) {
    width: 100%;
  }

  &::part(button) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--#{$prefix}sidebar-link-padding-y) var(--#{$prefix}sidebar-link-padding-x);
    border: none;
    border-radius: 0;
    font-size: var(--#{$prefix}sidebar-link-font-size);
    line-height: var(--#{$prefix}sidebar-link-line-height);
    text-transform: var(--#{$prefix}sidebar-text-transform, none);
  }

  it-icon[name='it-expand'] {
    transition: transform 0.3s ease;
  }

  &[expanded] it-icon[name='it-expand'] {
    transform: rotate(180deg);
  }

  .list-item-title-icon-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .link-sublist li {
    padding: 5px;
  }
}

.sidebar-wrapper.theme-dark ul.link-list it-collapse .list-item-title-icon-wrapper {
  color: var(--#{$prefix}color-text-inverse);
}

.sidebar-wrapper .sidebar-linklist-wrapper .link-list-wrapper ul li it-collapse a.active::after,
.sidebar-wrapper .sidebar-linklist-wrapper .link-list-wrapper ul li it-collapse a[aria-current='page']::after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: var(--#{$prefix}sidebar-link-active-line-width);
  background-color: var(--#{$prefix}sidebar-link-active-border-color);
  content: '';
  inset-inline-start: -5px;
}
