@use 'sass:list';
@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

@import 'bootstrap-italia/src/scss/base/utilities';

@import 'bootstrap-italia/src/scss/components/videoplayer';
@import 'bootstrap-italia/src/scss/components/accept-overlay';

.acceptoverlayable {
  // Check the Heads up! section in the documentation
  // https://sass-lang.com/documentation/modules/list/#slash
  aspect-ratio: list.slash(16, 9);
}

.acceptoverlay {
  --bs-acceptoverlay-color-text: #fff;
  --bs-form-control-label-color: #fff;
  --bs-form-checkbox-border-color: #fff;

  a {
    color: var(--bs-acceptoverlay-color-text);
  }

  .bg-dark {
    it-button::part(primary) {
      --#{$prefix}btn-text-color: var(--#{$prefix}color-background-primary);
      --#{$prefix}btn-background: var(--#{$prefix}color-background-inverse);

      &:hover {
        --#{$prefix}btn-text-color: var(--#{$prefix}color-text);
      }
    }
  }

  .acceptoverlay-buttons {
    it-button {
      width: 100%;

      &:last-child {
        --#{$prefix}acceptoverlay-buttons-spacing: var(--#{$prefix}spacing-xxs);
      }
    }
  }

  //Tablet vertical
  @include media-breakpoint-up(md) {
    .acceptoverlay-buttons {
      flex-wrap: nowrap;

      it-button {
        width: 50%;

        &:last-child {
          margin-left: var(--#{$prefix}spacing-m);
        }
      }

      &.single-button {
        //text-align: center;
        it-button {
          width: auto;
          min-width: 50%;
        }
      }
    }
  }
}

:host {
  /*
    * Regole spostate in dev-kit-italia/styles/index.scss
  display: block;
  min-width: var(--it-videojs-default-width);
  */
}

video:not([width]) {
  width: 100%;
  height: auto;
}

//video.js dynamic styles are disabled, so we need to ensure the styles are applied correctly
.video-js {
  width: var(--it-videojs-default-width);
  height: var(--it-videojs-default-height);

  .vjs-tech {
    position: inherit !important;
    height: auto !important;
  }

  &.vjs-youtube {
    .vjs-tech {
      // Check the Heads up! section in the documentation
      // https://sass-lang.com/documentation/modules/list/#slash
      aspect-ratio: list.slash(16, 9);
    }
  }

  &:not(.vjs-audio-only-mode) {
    &.vjs-fluid,
    &.vjs-16-9,
    &.vjs-4-3,
    &.vjs-9-16,
    &.vjs-1-1,
    &.vjs-youtube {
      height: auto;
    }
  }
}

// .vjs-fluid:not(.vjs-audio-only-mode) {
//   padding-top: 56.25%;
// }
