@import 'bootstrap-italia/src/scss/components/navscroll';
@import 'bootstrap-italia/src/scss/components/progress-bars';

it-navscroll {
  --it-host-display: block;

  it-modal::part(modal) {
    --bs-modal-width: calc(100vw - 48px);
  }

  it-modal::part(modal-body) {
    width: 100%;
  }
}
