it-input {
  --it-host-display: block;
  display: var(--it-host-display);

  it-button[slot='append'] {
    height: 100%;

    &::part(button) {
      --bs-btn-border-radius: 0 var(--bs-form-control-border-radius) var(--bs-form-control-border-radius) 0;
      --bs-btn-padding-y: 0;
      height: 100%;
      border-bottom: 1px solid var(--bs-form-control-border-color);
    }
  }

  &:not(:defined) {
    margin-bottom: var(--bs-spacing-m, 24px);
  }
}
