@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';
@import 'bootstrap-italia/src/scss/components/buttons';

:host {
  display: inline-flex;
}

.collapse-wrapper {
  width: 100%;
}

.collapse-content {
  overflow: hidden;
  height: 0;
}

.collapse-item {
  width: fit-content;
}

button,
[role='button'] {
  cursor: pointer;
}
