it-chip {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

// Stili per i componenti interni post-caricamento
it-chip:defined {
  it-button::part(button) {
    padding: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer !important;
    line-height: 1;
    --bs-btn-disabled-opacity: 1;
  }

  it-button it-icon::part(icon) {
    fill: var(--bs-chip-icon-color);
  }

  &:hover it-button it-icon::part(icon) {
    fill: var(--bs-chip-text-color);
  }

  it-button it-icon,
  it-button {
    display: inline-flex;
  }
}
