// @import 'bootstrap-italia/src/scss/base/functions';
// @import 'bootstrap-italia/src/scss/base/mixins';
// @import 'bootstrap-italia/src/scss/base/maps';
$pagination-color: var(--#{$prefix}color-link);
// Magic ahead: adapting bsi pagination styles to web components Shadow DOM scoping.
// This is in globals because otherwise you cannot target slotted icons
a.page-link {
  it-icon::part(icon) {
    fill: var(--#{$prefix}pagination-color);
  }
}

a.page-link:not(.disabled):hover {
  --#{$prefix}pagination-link-color: var(--#{$prefix}color-link-hover);
  text-decoration: underline !important;

  it-icon::part(icon) {
    fill: var(--#{$prefix}pagination-link-color);
  }
}

a.page-link[aria-disabled] {
  --#{$prefix}pagination-link-color: var(--#{$prefix}pagination-disabled-color);
  cursor: not-allowed;

  it-icon::part(icon) {
    fill: var(--#{$prefix}pagination-link-color);
  }
}

it-pagination a[slot='next'],
it-pagination a[slot='prev'] {
  text-decoration: none !important;

  &:not(.disabled):hover {
    --#{$prefix}pagination-link-color: var(--#{$prefix}color-link-hover);
    text-decoration: underline !important;
  }
}

it-pagination it-pagination-item a {
  text-decoration: unset;

  &:not(.disabled):hover {
    --#{$prefix}pagination-link-color: var(--#{$prefix}color-link-hover);
    text-decoration: underline !important;
  }

  &:focus-visible {
    outline: 2px solid var(--#{$prefix}color-border-primary-active);
    outline-offset: 2px;
  }
}

it-pagination it-pagination-item a.pagination-generated-link:focus-visible {
  outline: 2px solid var(--#{$prefix}color-border-primary-active) !important;
  outline-offset: 2px !important;
}

// // @import 'bootstrap-italia/src/scss/components/page';
// // @import 'bootstrap-italia/src/scss/components/pagination';
// it-pagination {
//   --#{$prefix}pagination-padding-x: #{$pagination-padding-x};
//   --#{$prefix}pagination-padding-y: #{$pagination-padding-y};
//   @include rfs($pagination-font-size, --#{$prefix}pagination-font-size);
//   --#{$prefix}pagination-color: #{$pagination-color};
//   --#{$prefix}pagination-bg: #{$pagination-bg};
//   --#{$prefix}pagination-border-width: #{$pagination-border-width};
//   --#{$prefix}pagination-border-color: #{$pagination-border-color};
//   --#{$prefix}pagination-border-radius: #{$pagination-border-radius};
//   --#{$prefix}pagination-hover-color: #{$pagination-hover-color};
//   --#{$prefix}pagination-hover-bg: #{$pagination-hover-bg};
//   --#{$prefix}pagination-hover-border-color: #{$pagination-hover-border-color};
//   --#{$prefix}pagination-focus-color: #{$pagination-focus-color};
//   --#{$prefix}pagination-focus-bg: #{$pagination-focus-bg};
//   --#{$prefix}pagination-focus-box-shadow: #{$pagination-focus-box-shadow};
//   --#{$prefix}pagination-active-color: #{$pagination-active-color};
//   --#{$prefix}pagination-active-bg: #{$pagination-active-bg};
//   --#{$prefix}pagination-active-border-color: #{$pagination-active-border-color};
//   --#{$prefix}pagination-disabled-color: #{$pagination-disabled-color};
//   --#{$prefix}pagination-disabled-bg: #{$pagination-disabled-bg};
//   --#{$prefix}pagination-disabled-border-color: #{$pagination-disabled-border-color};
//   display: flex;
//   @include list-unstyled();
// }
// // The .page-link wrapper in Shadow DOM
// .page-link {
//   position: relative;
//   display: block;
//   padding: var(--#{$prefix}pagination-padding-y, #{$pagination-padding-y})
//     var(--#{$prefix}pagination-padding-x, #{$pagination-padding-x});
//   border: var(--#{$prefix}pagination-border-width, #{$pagination-border-width}) solid
//     var(--#{$prefix}pagination-border-color, #{$pagination-border-color});
//   background-color: var(--#{$prefix}pagination-bg, #{$pagination-bg});
//   color: var(--#{$prefix}pagination-color, #{$pagination-color});
//   text-decoration: none;
//   @include font-size(var(--#{$prefix}pagination-font-size, #{$pagination-font-size}));
//   @include transition($pagination-transition);

//   // Slotted elements (links) inside .page-link
//   ::slotted(*) {
//     display: block;
//     color: inherit;
//     text-decoration: none;
//   }

//   &:hover {
//     z-index: 2;
//     border-color: var(--#{$prefix}pagination-hover-border-color, #{$pagination-hover-border-color});
//     background-color: var(--#{$prefix}pagination-hover-bg, #{$pagination-hover-bg});
//     color: var(--#{$prefix}pagination-hover-color, #{$pagination-hover-color});

//     ::slotted(*) {
//       color: inherit;
//       text-decoration: none;
//     }
//   }

//   &:focus-within {
//     z-index: 3;
//     background-color: var(--#{$prefix}pagination-focus-bg, #{$pagination-focus-bg});
//     box-shadow: var(--#{$prefix}pagination-focus-box-shadow, #{$pagination-focus-box-shadow});
//     color: var(--#{$prefix}pagination-focus-color, #{$pagination-focus-color});
//     outline: $pagination-focus-outline;

//     ::slotted(*) {
//       color: inherit;
//       outline: none;
//     }
//   }

//   &.active {
//     z-index: 3;
//     border-color: var(--#{$prefix}pagination-active-border-color, #{$pagination-active-border-color});
//     color: var(--#{$prefix}pagination-active-color, #{$pagination-active-color});
//     @include gradient-bg(var(--#{$prefix}pagination-active-bg, #{$pagination-active-bg}));

//     ::slotted(*) {
//       color: inherit;
//     }
//   }

//   &.disabled {
//     border-color: var(--#{$prefix}pagination-disabled-border-color, #{$pagination-disabled-border-color});
//     background-color: var(--#{$prefix}pagination-disabled-bg, #{$pagination-disabled-bg});
//     color: var(--#{$prefix}pagination-disabled-color, #{$pagination-disabled-color});
//     pointer-events: none;

//     ::slotted(*) {
//       color: inherit;
//     }
//   }
// }

// // Border radius handling
// @if $pagination-margin-start == ($pagination-border-width * -1) {
//   :host(:first-child) .page-link {
//     @include border-start-radius(var(--#{$prefix}pagination-border-radius, #{$pagination-border-radius}));
//   }

//   :host(:last-child) .page-link {
//     @include border-end-radius(var(--#{$prefix}pagination-border-radius, #{$pagination-border-radius}));
//   }
// } @else {
//   .page-link {
//     @include border-radius(var(--#{$prefix}pagination-border-radius, #{$pagination-border-radius}));
//   }
// }

.page-link[aria-current] {
  --bs-pagination-border-color: var(--bs-color-border-primary-active);
  --bs-pagination-link-color: var(--bs-color-link-active);
  pointer-events: none;
}

it-pagination it-input::part(input-wrapper) {
  margin: 0;
}
